@model ToDoManager.Models.Projects.IndexVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create" asp-controllerr="Project">New</a>
<fieldset>
    <legend>My Projects</legend>

    <div class="grid">
        <div class="row">
            <div class="col-3 bold">Title</div>
            <div class="col-3 bold">Description</div>
        </div>
        @foreach (var item in Model.Items)
        {
    <div class="row">
        <div class="col-3">@item.Title</div>
        <div class="col-3">@item.Description</div>
        <div class="col-3">
            <a asp-action="Index" asp-controller="Task" asp-route-projectId="@item.Id">details</a>
            <a asp-action="Edit" asp-controller="Project" asp-route-id="@item.Id">edit</a>
            <a asp-action="Delete" asp-controller="Project" asp-route-id="@item.Id">delete</a>
        </div>
    </div>
        }
    </div>

    @for (int i = 0; i < Model.PagesCount; i++)
    {
        <a href="/Project/Index?Page=@(i+1)&ItemsPerPage=@(Model.ItemsPerPage)">@(i + 1)</a>
    }

    <script>
        function ddlItemsPerPage_Change() {

            let ddlItemsPerPage = document.getElementById("ddlItemsPerPage");
            let selectedIndex = ddlItemsPerPage.selectedIndex;
            let itemsPerPage = ddlItemsPerPage.options[selectedIndex].value;

            document.location.href = "/Project/Index?ItemsPerPage=" + itemsPerPage;
        }
    </script>

    <select id="ddlItemsPerPage" onchange="ddlItemsPerPage_Change()">
        <option selected="@(Model.ItemsPerPage == 2)" >2</option>
        <option selected="@(Model.ItemsPerPage == 5)">5</option>
        <option  selected="@(Model.ItemsPerPage == 10)">10</option>
    </select>

</fieldset>

