@model ToDoManager.Models.Tasks.EditVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>Edit Task</legend>

    <form asp-action="Edit" asp-controller="Task" method="post">
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.ProjectId)
        <div class="grid">
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Title)
                </div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Title)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.Description)
                </div>
                <div class="col-2">
                    @Html.TextAreaFor(m => m.Description)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="row">
                <div class="col-1">
                    @Html.LabelFor(m => m.AssigneeId)
                </div>
                <div class="col-2">
                    @Html.DropDownListFor(m => m.AssigneeId, Model.UserPairs)
                </div>
                <div class="col-2">
                    @Html.ValidationMessageFor(m => m.AssigneeId)
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <input class="right" type="submit" value="Save" />
                </div>
            </div>
        </div>
    </form>
</fieldset>

